.u-section-1 .u-sheet-1 {
  min-height: 1660px;
}

.u-section-1 .u-image-1 {
  width: 260px;
  height: 260px;
  margin: 17px auto 0 17px;
}

.u-section-1 .u-image-2 {
  width: 198px;
  height: 277px;
  margin: -260px auto 0 347px;
}

.u-section-1 .u-image-3 {
  width: 245px;
  height: 245px;
  margin: -269px 325px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 245px;
  height: 245px;
  margin: -245px 49px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 25px 870px 0 31px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

.u-section-1 .u-text-2 {
  margin: -24px auto 0 403px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
}

.u-section-1 .u-text-3 {
  margin: -24px 412px 0 auto;
}

.u-section-1 .u-btn-3 {
  background-image: none;
}

.u-section-1 .u-text-4 {
  margin: -24px 141px 0 auto;
}

.u-section-1 .u-btn-4 {
  background-image: none;
}

.u-section-1 .u-image-5 {
  width: 260px;
  height: 260px;
  margin: 17px auto 0 17px;
}

.u-section-1 .u-image-6 {
  width: 260px;
  height: 260px;
  margin: -260px auto 0 310px;
}

.u-section-1 .u-image-7 {
  width: 260px;
  height: 260px;
  margin: -260px 310px 0 auto;
}

.u-section-1 .u-image-8 {
  width: 260px;
  height: 260px;
  margin: -260px 50px 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 17px auto 0 121px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
}

.u-section-1 .u-text-6 {
  margin: -24px auto 0 398px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
}

.u-section-1 .u-text-7 {
  margin: -24px 412px 0 auto;
}

.u-section-1 .u-btn-7 {
  background-image: none;
}

.u-section-1 .u-text-8 {
  margin: -24px 129px 0 auto;
}

.u-section-1 .u-btn-8 {
  background-image: none;
}

.u-section-1 .u-image-9 {
  width: 294px;
  height: 294px;
  margin: 17px auto 0 0;
}

.u-section-1 .u-image-10 {
  width: 300px;
  height: 300px;
  margin: -302px auto 0 270px;
}

.u-section-1 .u-image-11 {
  width: 266px;
  height: 266px;
  margin: -283px 304px 0 auto;
}

.u-section-1 .u-image-12 {
  width: 266px;
  height: 266px;
  margin: -266px 23px 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 34px auto 0 347px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
}

.u-section-1 .u-text-10 {
  margin: -24px 366px 0 auto;
}

.u-section-1 .u-btn-10 {
  background-image: none;
}

.u-section-1 .u-text-11 {
  margin: -24px 101px 0 auto;
}

.u-section-1 .u-btn-11 {
  background-image: none;
}

.u-section-1 .u-text-12 {
  margin: -22px auto 0 54px;
}

.u-section-1 .u-btn-12 {
  background-image: none;
}

.u-section-1 .u-image-13 {
  width: 212px;
  height: 212px;
  margin: 13px auto 0 41px;
}

.u-section-1 .u-text-13 {
  margin: 26px auto 0 117px;
}

.u-section-1 .u-btn-13 {
  background-image: none;
}

.u-section-1 .u-image-14 {
  width: 247px;
  height: 247px;
  margin: -262px auto 0 298px;
}

.u-section-1 .u-text-14 {
  margin: 13px auto 0 341px;
}

.u-section-1 .u-btn-14 {
  background-image: none;
}

.u-section-1 .u-image-15 {
  width: 233px;
  height: 233px;
  margin: -270px 337px 0 auto;
}

.u-section-1 .u-text-15 {
  margin: 13px 377px 60px auto;
}

.u-section-1 .u-btn-15 {
  background-image: none;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1304px;
  }

  .u-section-1 .u-btn-1 {
    padding: 0;
  }

  .u-section-1 .u-btn-2 {
    padding: 0;
  }

  .u-section-1 .u-btn-3 {
    padding: 0;
  }

  .u-section-1 .u-btn-4 {
    padding: 0;
  }

  .u-section-1 .u-btn-5 {
    padding: 0;
  }

  .u-section-1 .u-btn-6 {
    padding: 0;
  }

  .u-section-1 .u-btn-7 {
    padding: 0;
  }

  .u-section-1 .u-btn-8 {
    padding: 0;
  }

  .u-section-1 .u-text-9 {
    width: auto;
  }

  .u-section-1 .u-btn-9 {
    padding: 0;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: 359px;
  }

  .u-section-1 .u-btn-10 {
    padding: 0;
  }

  .u-section-1 .u-btn-11 {
    padding: 0;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: -24px;
  }

  .u-section-1 .u-btn-12 {
    padding: 0;
  }

  .u-section-1 .u-image-13 {
    width: 233px;
    height: 233px;
    margin-top: 11px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 15px;
    margin-left: 121px;
  }

  .u-section-1 .u-btn-13 {
    padding: 0;
  }

  .u-section-1 .u-image-14 {
    margin-top: -286px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-btn-14 {
    padding: 0;
  }

  .u-section-1 .u-image-15 {
    margin-top: -273px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 16px;
    margin-right: 387px;
    margin-bottom: 40px;
  }

  .u-section-1 .u-btn-15 {
    padding: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 701px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 332px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 339px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 328px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 339px;
  }

  .u-section-1 .u-image-11 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 286px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 296px;
  }

  .u-section-1 .u-image-14 {
    margin-top: -262px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 281px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 319px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 481px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-left: 254px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 260px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 251px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 260px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 219px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 227px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 215px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-2 {
    margin-left: 342px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -269px;
    margin-right: 295px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 301px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 191px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 195px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 280px;
  }

  .u-section-1 .u-image-7 {
    margin-top: -260px;
    margin-right: 280px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 188px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 195px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 240px;
  }

  .u-section-1 .u-image-11 {
    margin-right: 274px;
  }

  .u-section-1 .u-image-12 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 164px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 170px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-14 {
    margin-left: 293px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 161px;
  }

  .u-section-1 .u-image-15 {
    margin-right: 307px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 183px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-2 {
    margin-top: 20px;
    margin-left: 142px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 20px;
    margin-right: 95px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 101px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 120px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 123px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 89px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 20px;
    margin-left: 80px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 20px;
    margin-right: 80px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 76px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-left: 118px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 123px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 81px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 40px;
  }

  .u-section-1 .u-image-11 {
    margin-right: 74px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 103px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 107px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 76px;
  }

  .u-section-1 .u-image-14 {
    margin-top: 20px;
    margin-left: 93px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 101px;
  }

  .u-section-1 .u-image-15 {
    margin-right: 107px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 115px;
  }
}